<div class="adjustments">
  <a routerLink="/blog/add" class="btn btn-primary" style="float: right; width: 20%">Dodaj nowy</a>
</div>
<div style="clear: both;"></div>
<div class="card bg-secondary adjustments" *ngFor="let item of items | filter:filterText">
  <div class="card-body">
    <app-blog-item [image]="item.url" [text]="item.title"></app-blog-item>
    <a (click)="loadDetails(item.title, item.url, items.indexOf(item))" class="btn btn-danger button-adjustment">Czytaj więcej...</a>
  </div>
</div>
